<div class="container">
  <h2><%= @post.title %></h2>
  <p><%= @post.body %></p>
  <br>
  <small>Created by: <%= @post.user.profile.first_name + " " + @post.user.profile.last_name if @post.user %>, <%= time_ago_in_words(@post.created_at) %> ago</small>
  <br>
  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-xs btn-primary' %>
  <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %>
  
  <br>
  <h2><%= @post.comments.count %> comments</h2>
  <%= render @post.comments %>
</div>
